image: node:16.5.0

stages:
    - lint
    - build
    - deploy

cache:
    key:
        files:
            - package-lock.json
        prefix: npm
    paths:
        - node_modules/

before_script:
    - npm ci

lint:
    stage: lint
    script:
        - npm run lint
    only:
        refs:
            - merge_requests

build:
    stage: build
    environment:
        name: production
    script:
        - npm run build
    artifacts:
        expire_in: 30 minutes
        paths:
            - dist
    only:
        - master

pages:
    stage: deploy
    environment:
        name: production
    before_script:
        - ''
    script:
        - cp -a dist/. public/
    artifacts:
        paths:
            - public
    only:
      - master
