image: node:16.14.0

stages:
    - test
    - build
    - deploy

cache:
    key:
        files:
            - package-lock.json
        prefix: npm
    paths:
        - node_modules/

before_script:
    - npm ci

test:
    stage: test
    coverage: '/All\sfiles\s+\|\s+ \d+\.\d+/'
    script:
        - npm run test
    artifacts:
        when: always
        reports:
            junit: junit.xml
            cobertura: coverage/cobertura-coverage.xml

build:
    stage: build
    environment:
        name: production
    script:
        - npm run build
    artifacts:
        expire_in: 30 minutes
        paths:
            - dist
    only:
        - main

pages:
    stage: deploy
    environment:
        name: production
    before_script:
        - ''
    script:
        - cp -a dist/. public/
    artifacts:
        paths:
            - public
    only:
        - main
