image: node:18.7.0

stages:
    - test
    - build
    - deploy

cache:
    key:
        files:
            - pnpm-lock.yaml
    paths:
        - .pnpm-store

before_script:
    - curl -f https://get.pnpm.io/v6.16.js | node - add --global pnpm@7
    - pnpm config set store-dir .pnpm-store
    - pnpm install

test:
    stage: test
    coverage: '/All\sfiles\s+\|\s+ \d+\.\d+/'
    script:
        - pnpm run test
    artifacts:
        when: always
        reports:
            junit: junit.xml
            coverage_report:
                coverage_format: cobertura
                path: coverage/cobertura-coverage.xml

build:
    stage: build
    environment:
        name: production
    script:
        - pnpm run build
    artifacts:
        expire_in: 30 minutes
        paths:
            - dist
    only:
        - main

pages:
    stage: deploy
    environment:
        name: production
    before_script:
        - ''
    script:
        - cp -a dist/. public/
    artifacts:
        paths:
            - public
    only:
        - main
