# for local development
version: '3.7'
services:
    node:
        build:
            context: .
            dockerfile: node/Dockerfile
            args:
                - USER_ID=$USER_ID
                - GROUP_ID=$GROUP_ID
        ports:
            - $APP_HTTP_PORT:$APP_HTTP_PORT
        volumes:
            - ../:/app
        networks:
            - default
        stdin_open: true
        tty: true
        environment:
            # The port where the app will be served
            - APP_HTTP_PORT=$APP_HTTP_PORT
            # https://cli.vuejs.org/guide/mode-and-env.html#modes
            # development is used by vue-cli-service serve
            - NODE_ENV=local
            # one way for hot reloading ... see above for details
            - CHOKIDAR_USEPOLLING=true
            - CHOKIDAR_INTERVAL=100
        command: docker/node/start.sh
