@tailwind base;
@tailwind components;

.tooltip {
    @apply absolute
    bg-gray-500
    text-xs
    text-white
    shadow-2xl
    rounded-full
    px-2
    py-1
    opacity-0
    transition-opacity
    ease-linear
    duration-200;
}

.has-tooltip:hover .tooltip {
    @apply z-50 opacity-100 transition-opacity ease-linear duration-200;
}

@tailwind utilities;
